* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
}

.header {
    background-color: aqua;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.wrapper {
    min-height: 100vh;
    background-color: floralwhite;
    margin-bottom: 20px;
}

footer {
    height: 80px;
    background-color: aquamarine;
    padding: 20px;
}

.form {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: bisque;
}

.list {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    list-style-type: none;

}

.item {
    border: 1px black solid;
    min-width: 30%;
    max-width: 30%;
    padding: 20px;
    background-color: aquamarine;
}

.default-text {
    padding: 30px;
    text-align: center;
}

.message-box {
    text-align: center;
}

.message-box.error {
    color: red;
}

.hidden {
    display: none;
}

.favorite {
    color: forestgreen;
}

.favorite-form {
    display: flex;
    justify-content: end;
    margin: 20px;
    padding: 20px;
}

.favorite-filter.filter {
    display: none;
}

.item-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /*padding: 10px;*/
}

.item-body {
    margin: 20px;
}

/*.favorite-button,*/
/*.delete-button {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*}*/